<div class="w-full h-full p-gutter container" fxLayout="column">

  <div class="bg-primary w-full h-64 absolute top-0 left-0 right-0"></div>
  
  <mat-drawer-container class="card overflow-hidden" fxFlex="auto">
    <mat-drawer [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" class="drawer"
      position="start">
      <div class="h-full" fxLayout="column">
        <h2 class="headline font-normal m-0 p-4 text-primary border-b" fxFlex="none" fxLayout="row">
          <span class="block">
            <ic-icon [icon]="icChat" class="mr-5 ml-1" height="28px" inline="true" width="28px"></ic-icon>
          </span>
          <span class="block">Tutorial</span>
        </h2>
        <p>
          <iframe src="https://www.youtube.com/embed/xnWtGNiG2lg" frameborder="0" width="400" height="400"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
        </p>
      </div>
    </mat-drawer>

    <mat-drawer-content class="chat-pattern">
      <vex-chat-conversation></vex-chat-conversation>
    </mat-drawer-content>
  </mat-drawer-container>
</div>