<div class="w-full h-full overflow-hidden" fxLayout="column">
  <div class="bg-app-bar p-4 border-b" fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <div class="relative">
      <img src="assets/img/demo/logo.png" width="50px" height="50px" fxFlex="none">

    </div>

    <div fxFlex="auto">
      <div class="subheading-1">Clase de programación</div>
    </div>
  </div>

  <ng-scrollbar #scrollbarRef [@stagger]="messages.length" class="p-4 flex-auto">
    <ng-container *ngFor="let message of messages; trackBy: trackById">
      <ng-container *ngIf="message.sender.typeUser==='Moderador' && message.sender.id!==idUser">

        <div @fadeInUp class="max-w-3/4 me" fxFlexAlign="end" fxLayout="row">
          <div class="m-1 mr-0 py-2 px-4 shadow-1 rounded-full bg-primary text-primary-contrast">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">

              <div class="overflow-hidden" fxFlex="auto">
                <div [class.font-medium] class="subheading-2 leading-snug">{{ message.sender.nickName }}<div
                    class="caption font-medium text-secondary" style="margin-left: 10px;" fxFlex="none"
                    fxLayout="column" fxLayoutAlign="center end">{{ message.created| date :'short' }}</div>
                </div>
                <div [class.font-medium] class="body-1 subheading-2 leading-snug truncate">
                  {{ message.message }}</div>
              </div>

            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="message.sender.id===idUser">
        <div @fadeInUp class="max-w-3/4 me" fxFlexAlign="end" fxLayout="row">
          <div class="m-1 mr-0 py-2 px-4 shadow-1 rounded-full bg-card text-hint">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">

              <div class="overflow-hidden" fxFlex="auto">
                <div [class.font-medium] class="subheading-2 leading-snug">{{ message.sender.nickName }}<div
                    class="caption font-medium text-primary" style="margin-left: 10px;" fxFlex="none" fxLayout="column"
                    fxLayoutAlign="center end">{{ message.created| date :'short' }}</div>
                </div>
                <div [class.font-medium] class="body-1 text-hint truncate">
                  {{ message.message }}</div>
              </div>

            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="message.sender.typeUser!=='Moderador' && message.sender.id!==idUser">
        <div @fadeInUp class="max-w-3/4 me" fxFlexAlign="end" fxLayout="row">
          <div class="m-1 mr-0 py-2 px-4 shadow-1 rounded-full bg-card">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">

              <div class="overflow-hidden" fxFlex="auto">
                <div [class.font-medium] class="subheading-2 leading-snug">{{ message.sender.nickName }}<div
                    class="caption font-medium text-secondary" style="margin-left: 10px;" fxFlex="none"
                    fxLayout="column" fxLayoutAlign="center end">{{ message.created| date :'short' }}</div>
                </div>
                <div [class.font-medium] class="body-1 text-secondary truncate">
                  {{ message.message }}</div>
              </div>

            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-scrollbar>

  <div class="p-4 bg-app-bar border-t">
    <form (ngSubmit)="send()" [formGroup]="form">
      <div class="border rounded-full text-hint overflow-hidden bg-card ltr:pl-6 rtl:pr-6" fxFlex="auto" fxLayout="row"
        fxLayoutAlign="start center">
        <input class="outline-none border-0 h-12 w-240 placeholder:text-secondary body-1 bg-card"
          formControlName="message" fxFlex="auto" placeholder="Escribir mensaje..." type="text">
        <button [class.text-primary]="form.get('message').value" [disabled]="!form.get('message').value"
          class="ltr:mr-4 rtl:ml-4 ltr:ml-3 rtl:mr-3" mat-icon-button type="submit">
          <mat-icon [icIcon]="icSend"></mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>

